// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #82D2EE;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #EE6C87;
$orange: #f6993f;
$yellow: #F7CE74;
$green: #00A089;
$light-green: #00EDCB;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$white: #FCFCFC;
$black: #0a0a0a;